includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - tests
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Facade::__callStatic\(\)#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Facade::getFacadeRoot\(\)#'
        - '#Call to an undefined static method Illuminate\\Support\\Facades\\Facade::__callStatic\(\)#'
        - '#Access to an undefined property Illuminate\\Support\\Facades\\Facade::\$resolvedInstance#'
        - '#Call to an undefined method Aws\\ManagedBlockchain\\ManagedBlockchainClient::invoke\(\)#'
        - '#Call to an undefined method Aws\\ManagedBlockchain\\ManagedBlockchainClient::describeNetwork\(\)#'
        - '#Call to an undefined method Aws\\ManagedBlockchain\\ManagedBlockchainClient::getTransaction\(\)#'
        - '#Call to an undefined method Aws\\QLDB\\QLDBClient::sendCommand\(\)#'
        - '#Call to an undefined method Aws\\QLDB\\QLDBClient::describeLedger\(\)#'
        - '#Method.*getAvailableDrivers\(\) should return.*but returns#'
        - '#Unknown class Web3\\Web3#'
        - '#Unknown class Web3\\Contract#'
        - '#Access to property.*on an unknown class Web3\\#'
        - '#Call to method.*on an unknown class Web3\\#'
        - '#Instantiated class Web3\\.*not found#'
        - '#Call to an undefined method object::toString\(\)#'
        - '#Comparison operation.*between int<1, max> and 0 is always true#'
        - '#Strict comparison using !== between non-falsy-string\|false and int will always evaluate to true#'
        - '#Call to an undefined static method.*BlockchainContract::(create|find|where)\(\)#'
        - '#Call to an undefined static method.*BlockchainTransaction::(create|where)\(\)#'
        - '#Method.*scopeActive\(\) should return.*but returns Illuminate\\Database\\Query\\Builder#'
        - '#Method.*scopeFailed\(\) should return.*but returns Illuminate\\Database\\Query\\Builder#'
        - '#Property.*EvmDriver::\$web3 has unknown class Web3\\Web3#'
        - '#While loop condition is always true#'
        - '#Unreachable statement - code above always terminates#'
        - '#Call to function is_string\(\) with non-falsy-string will always#'
        - '#Strict comparison using !== between non-falsy-string and int will always#'
        - '#Strict comparison using !== between string and false will always#'
        - '#Call to function is_array\(\) with non-empty-array.*will always#'
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics
    reportUnmatchedIgnoredErrors: false
